html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

#map {
  height: 300px;
  width: 100%;
  margin-left: 50px;
}

.container-page {
  max-width: 1790px;
  padding: 0 10px;
  margin: 0 auto;
}

.container-content {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  @extend %dmsans-700;
  font-size: 36px;
  color: $title;
  text-align: center;
  margin-bottom: 35px;
}

.partners {
  padding: 80px 0px 90px;
  background-color: #fef7f0;

  &__items {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

}

.breadcrumbs {
  background-color: #edf1f4;
  padding: 35px 0 35px;


  &__title {
    @extend %rubik-300;
    font-size: 36px;
    line-height: 42px;
    color: #222933;
    text-align: center;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__item {
    padding-right: 20px;
    position: relative;

    &::after {
      content: "/";
      position: absolute;
      color: rgba(34, 41, 51, 0.6);
      font-size: 14px;
      line-height: 20px;
      @extend %rubik-400;
      top: 0;
      right: 6px;
    }

    &:last-child {
      padding-right: 0px;

      &::after {
        display: none;
      }
    }
  }

  &__link {
    color: rgba(34, 41, 51, 0.6);
    font-size: 14px;
    line-height: 20px;
    @extend %rubik-400;
  }
}

.filter__title {
  @extend %dmsans-700;
  font-size: 18px;
  color: $dark-blue;
  line-height: 24px;
  margin-bottom: 27px;
  position: relative;
  display: inline-block;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    top: 11px;
    right: -55px;
    background-image: url(../images/icons/title-line-shop.svg);
    width: 38px;
    height: 2px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;

  &__list {
    display: flex;
    padding-left: 5px;

  }

  &__item+.pagination__item {
    margin-left: 15px;
  }

  &__link {
    width: 50px;
    height: 50px;
    border: 1px solid #a3bbc8;
    @extend %rubik-400;
    color: $dark-blue;
    font-size: 16px;
    padding: 18px 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    &--active {
      background-color: #a3bbc8;
      color: #fef7f0;
    }
  }

  &__link-next {
    margin-left: 15px;
    width: 74px;
  }
}
#map{
  margin-left: 0px;
  margin-bottom: 20px;
}


