$light-blue: #a3bbc8;
$normal-blue: #436372;
$dark-blue: #243f4d;
$title: #191919;
$bg-white: #fef7f0;


%dmsans-700 {
  font-family: 'DMSans-Bold';
  font-weight: 700;
}

%dmsans-500 {
  font-family: 'DMSans-Medium';
  font-weight: 500;
}

%dmsans-400 {
  font-family: 'DMSans-Regular';
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik-Medium';
  font-weight: 500;
}

%rubik-400 {
  font-family: 'Rubik-Regular';
  font-weight: 400;
}

%rubik-300 {
  font-family: 'Rubik-Light';
  font-weight: 300;
}

%btn {
  @extend %dmsans-400;
  color: #fff;
  background-color: $light-blue;
  padding: 15px;
  border: none;
  cursor: pointer;
}

%btn-selector {
  border: none;
  background-color: transparent;
  @extend %dmsans-700;
  color: #8b8b8b;
  font-size: 16px;
  padding: 0;
}

%checkbox-hidden {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
}