@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.logo {
  display: flex;
  align-items: center;

  &__link {
    margin-right: 13px;
  }

  &__link-text {
    font-size: 36px;
    line-height: 58px;
    color: $normal-blue;
    @extend %rubik-500;
  }
}

.header {
  &__inner {
    padding: 50px 0 50px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu-list {
    display: flex;

  }

  &__menu-item+.header__menu-item {
    margin-left: 30px;
  }

  &__menu-link {
    font-size: 15px;
    line-height: 25px;
    color: $normal-blue;
    @extend %rubik-500;
  }
}

.user-nav {
  display: flex;


  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link-search {
    margin-right: 20px;
    background-color: #edf1f4;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    padding: 0;

  }

  &__link-square {
    margin-left: 20px;
    background-color: $light-blue;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    padding: 0;
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fcd7b6;
    width: 175px;
    height: 49px;
    border-radius: 25px;

  }

  &__link-like {
    padding-right: 30px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      height: 32px;
      top: -5px;
      right: 0;
      border: 1px solid #fde7d3;
    }

    span {
      top: -8px;
      right: 20px;
    }
  }



  &__link-cart {
    padding-left: 30px;
    position: relative;

    span {
      top: -8px;
      right: -12px;

    }

  }

  &__num {
    position: absolute;
    background-color: #fff;
    color: $normal-blue;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    @extend %dmsans-400;
    font-size: 10px;
    line-height: 18px;
    text-align: center
  }
}

.footer {
  &__top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(163, 187, 200, 0.4);
    padding: 80px 0 75px;
  }

  &__top-info {
    display: flex;
    flex-direction: column;
  }

  &__top-adress {
    margin-bottom: 10px;
    margin-top: 25px;
    text-transform: uppercase;

    span {
      text-transform: capitalize;
    }
  }

  &__top-phone {
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  &__top-email {
    text-transform: uppercase;

    span {
      text-transform: lowercase
    }
  }

  &__top-link {
    @extend %rubik-400;
    font-size: 14px;
    line-height: 24px;
    color: #7b7b7b;


  }

  &__top-title {
    margin-top: 22px;
    margin-bottom: 25px;
    @extend %dmsans-700;
    color: #1f2044;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
  }

  &__top-items {
    margin-bottom: 10px;
  }

  &__top-text {
    @extend %rubik-400;
    font-size: 14px;
    line-height: 24px;
    color: #7b7b7b;
    margin-bottom: 20px;
    max-width: 243px;
    width: 100%;
  }

  &__top-form-input {
    background-color: #fef7f0;
    border: none;
    padding: 15px;

    &::placeholder {
      font-size: 12px;
      @extend %dmsans-400;
      color: #234969;
    }
  }

  &__btn {
    @extend %btn;
    margin-left: -3px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 40px;

  }

  &__bottom-text,
  &__bottom-link {
    @extend %rubik-400;
    color: #7b7b7b;
    font-size: 14px;
    line-height: 32px;
  }

  &__bottom-list {
    display: flex
  }

  &__bottom-item:not(:last-child) {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 7px;
      right: -15px;
      height: 17px;

      border: 1px solid #7b7b7b;
    }
  }

  &__bottom-item+.footer__bottom-item {
    margin-left: 30px;
  }
}

.top-slider {
  &__inner {
    background-image: url(../images/to-slider-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100%;
    padding-top: 175px;
    padding-bottom: 45px;
  }

  &__item {
    padding-bottom: 175px;
  }

  &__title {
    font-size: 72px;
    line-height: 92px;
    color: $dark-blue;
    @extend %rubik-500;
    margin-bottom: 35px;
    max-width: 411px;
    width: 100%;
    position: relative;

    &::after {

      content: "";
      width: 640px;
      height: 240px;
      top: 134px;
      left: 526px;
      background-image: url(../images/top-slider-img.png);
      background-repeat: no-repeat;
      background-position: center center;
      position: absolute;



    }
  }

  &__text {
    font-size: 18px;
    line-height: 25px;
    color: $normal-blue;
    @extend %rubik-400;
    margin-bottom: 35px;
    max-width: 360px;
  }

  &__link {
    @extend %btn;
    padding: 25px 100px 25px 25px;
    @extend %rubik-500;
    position: relative;
    display: block;
    max-width: 202px;

    &::after {
      content: "";
      position: absolute;
      width: 22px;
      height: 9px;
      top: 30px;
      right: 15px;
      background-image: url(../images/icons/arrow.svg);

    }
  }


}

.slick-dots {
  display: flex;
  justify-content: center;



  & li+li {
    margin-left: 10px;

  }

  & li button {
    font-size: 10px;
    line-height: 12px;
    @extend %rubik-500;
    color: #667983;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: #fde3cc;

  }

  & .slick-active button {
    background-color: #fff;
    color: $dark-blue;
  }

}

.top-slider__info {
  background-color: #fef7f0;
  padding: 45px 0 45px;

  &-content {
    display: flex;
    justify-content: space-around
  }

  &-box:nth-child(2) {
    position: relative;

    &::after,
    &::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 170px;
      background-color: #e8e4df;
    }

    &::after {
      top: -45px;
      left: 364px;
    }

    &::before {
      top: -45px;
      right: 390px;
    }
  }


  &-subtitle {
    @extend %dmsans-700;
    color: #414141;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 10px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 8px;
      left: -75px;

    }
  }

  &-subtitle--support::before {
    width: 51px;
    height: 53px;
    background-image: url(../images/icons/support.svg);
  }

  &-subtitle--delivery::before {
    width: 53px;
    height: 36px;
    background-image: url(../images/icons/delivery.svg);
  }

  &-subtitle--payment::before {
    width: 53px;
    height: 52px;
    background-image: url(../images/icons/payment.svg);
  }


  &-text {
    @extend %dmsans-400;
    font-size: 16px;
    line-height: 23px;
    color: #585858;
    font-family: 'DMSans-Regular';
  }

}

.products-week {
  padding-top: 75px;

  &__content {
    padding-bottom: 185px;
  }

  &__selectors {
    display: flex;
    justify-content: center;
    margin-bottom: 75px;
  }

  &__btn {
    @extend %btn-selector;
    cursor: pointer;
    transition: all .5s;

    &:hover {
      color: $title;
    }
  }

  &__btn.mixitup-control-active {
    color: $title;
  }

  &__btn+.products-week__btn {
    margin-left: 30px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 40px 30px;
  }

  &__item {
    width: 270px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    border-radius: 10px;
    padding: 25px 40px 35px;
    text-align: center;

    &:hover {
      .products-week__link-box {
        transform: translateY(0);
      }
    }
  }

  &__box-img {
    height: 210px;
    margin-bottom: 55px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;

  }

  &__img {
    object-fit: cover;
  }

  &__link-box {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    left: 0;
    transform: translateY(300%);
    bottom: 20px;
    transition: all .5s;

    & a+a {
      margin-left: 15px;
    }
  }

  &__link {
    background-color: rgb(255, 255, 255);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;

    &:hover {
      background-color: $light-blue;

      path {
        fill: rgb(255, 255, 255);
      }
    }
  }

  &__title {
    @extend %dmsans-500;
    color: $dark-blue;
    font-size: 16px;
    line-height: 40px;
  }

  &__price {
    @extend %dmsans-700;
    color: $light-blue;
  }
}

.products-info {
  &__items {
    display: flex;
    justify-content: center;
  }

  &__item {
    background-color: #feefe2;
    display: flex;
    width: 800px;
    padding: 100px 50px 100px 150px;

    &:first-child {
      margin-right: 30px;
    }
  }

  &__item-box {

    padding-left: 20px;
  }

  &__item-img {
    margin-top: -200px;
  }

  &__title {
    @extend %dmsans-700;
    color: $dark-blue;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 15px;
  }

  &__text {
    @extend %rubik-400;
    font-size: 16px;
    line-height: 22px;
    color: $dark-blue;
    margin-bottom: 25px;
  }

  &__link {
    @extend %rubik-500;
    font-size: 15px;
    line-height: 20px;
    color: $normal-blue;
    max-width: 180px;
    width: 100%;
    padding: 23px 0 23px 15px;
    border-radius: 5px;
    border: 1px solid #b3b7b5;
    display: block;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 30px;
      right: 20px;
      background-image: url(../images/icons/arrow-view.svg);
      width: 22px;
      height: 9px;
    }

  }
}

.new-design {
  padding-top: 100px;

  &__content {
    margin-bottom: 120px;
  }

  &__selectors {
    display: flex;
    justify-content: center;
    margin-bottom: 75px;
  }

  &__selectors-btn {
    @extend %btn-selector;
    transition: all .5s;
    cursor: pointer;

    &:hover {
      color: $title;
    }
  }

  &__selectors-btn.mixitup-control-active {
    color: $title;
  }

  &__selectors-btn+.new-design__selectors-btn {
    margin-left: 30px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
  }

  &__item {
    background-color: #f8f8f8;
    padding: 35px 0 125px 35px;
    width: 375px;
    display: flex;
    overflow: hidden;
    position: relative;

    &-chairs img {
      left: 200px;
    }
  }

  &__item-title {
    font-size: 20px;
    @extend %dmsans-700;
    color: $title;
    margin-bottom: 10px;
    max-width: 170px;
    width: 100%;

    a {
      color: $title;
    }

  }

  &__item-text {
    font-size: 16px;
    @extend %dmsans-700;
    color: $light-blue;
  }

  &__item-img {
    position: absolute;
    bottom: 35px;
    left: 100px;
  }

  &__video {
    background-image: url(../images/bg-vid.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 500px;
  }

  &__video-link {
    width: 127px;
    display: block;
    margin: 0 auto;
    padding-top: 175px;
    cursor: pointer
  }
}

.insights {
  &__inner {
    padding-top: 120px;
    position: relative;
    z-index: 10;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 45px;

  }

  &__title {
    margin: 0px;
  }

  &__top-link {
    @extend %dmsans-700;
    font-size: 16px;
    color: #262626;
    margin-bottom: 8px;

    span {
      margin-left: 15px;
    }
  }


  &__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: -170px;
  }

  &__item-box {
    max-width: 370px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    border-radius: 5px;
    background-color: #fff;
  }

  &__box-img {
    object-fit: cover;
    height: 250px;
  }

  &__item {
    padding: 35px 0 20px 30px;
  }

  &__item-title {
    max-width: 285px;
    width: 100%;
    min-height: 90px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(224, 224, 224);
    position: relative;

    &::before {
      content: "NEWS";
      font-size: 14px;
      line-height: 20px;
      color: #fff;
      background-color: rgb(163, 187, 200);
      width: 103px;
      padding: 5px 30px;
      border-radius: 30px;
      position: absolute;
      @extend %dmsans-700;
      top: -49px;
      left: 0;
    }

  }

  &__item-link {
    @extend %dmsans-500;
    color: #262626;
    font-size: 18px;
  }

  &__item-info {
    display: flex;
  }

  &__item-date,
  &__item-author {
    font-size: 12px;
    line-height: 30px;
    text-transform: uppercase;
    @extend %rubik-400;
    color: #222933;
    padding-left: 22px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 9px;
      width: 15px;
      height: 15px;
    }
  }

  &__item-date {
    margin-right: 30px;

    &::before {
      background-image: url(../images/icons/time.svg);
      background-repeat: no-repeat;

    }
  }

  &__item-author::before {
    background-image: url(../images/icons/user.svg);
    background-repeat: no-repeat;

  }

}

.partners-insights {
  background-color: #fef7f0;
  padding: 265px 0 90px;
}

.login {
  padding: 120px 0 120px;

  &__form {
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
  }

  &__label {
    display: block;
    width: 100%;
    @extend %rubik-400;
    font-size: 14px;
    line-height: 18px;
    color: $normal-blue;
    margin-bottom: 25px;
  }

  &__input {
    display: block;
    width: 100%;
    height: 60px;
    border: 2px solid rgb(246, 246, 246);
    margin-top: 10px;
    padding: 0 5px;
  }

  &__btn {
    display: block;
    width: 100%;
    padding: 21px 5px;
    margin: 35px 0 36px;
    border: none;
    background-color: $light-blue;
    cursor: pointer;
    @extend %rubik-500;
    color: #fff;
    font-size: 18px;

  }

  &__items {
    border-bottom: 2px solid rgb(246, 246, 246);
    padding-bottom: 35px;
    font-size: 14px;
    @extend %rubik-400;
    color: #436372;
    display: flex;
    justify-content: space-between;

  }

  &__link {
    font-size: 14px;
    @extend %rubik-400;
    color: #436372;
  }

  &__link-reg {
    margin: 35px 0 25px;
    display: block;
    text-align: center;
  }

  &__link-create {
    display: block;
    width: 100%;
    text-align: center;
    @extend %rubik-500;
    font-size: 18px;
    color: $dark-blue;
    border: 2px solid $light-blue;
    padding: 22px 5px;
  }

}

.terms-cond {
  padding-top: 120px;

  &__item+.terms-cond__item {
    margin-top: 75px;
  }

  &__list {
    list-style: decimal-leading-zero;
    padding-left: 32px;
  }

  &__title {
    margin-bottom: 25px;
    @extend %rubik-500;
    font-size: 24px;
    line-height: 40px;
    color: $dark-blue;

  }

  &__text {
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: $dark-blue;
    margin-bottom: 35px;

    &:last-child {
      margin-bottom: 0px;
    }
  }

}

.shop-page {
  padding: 120px 0;

  &__inner {
    display: flex;
  }

  &__filters {
    width: 270px;
    margin-right: 30px
  }

  &__item {
    padding-bottom: 75px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 30px;
    margin-bottom: 100px;
  }
}

.filter-category {
  &__label {
    display: block;
    margin-bottom: 2px;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 23px 15px 15px;
    border-radius: 6px;
  }

  &__text {
    @extend %rubik-400;
    color: $dark-blue;
    font-size: 16px;
    line-height: 22px;
  }

  &__input {
    @extend %checkbox-hidden;

    &:checked+.filter-category__box {
      background-color: #edf1f4;
    }
  }
}

.irs--flat .irs-line {
  width: 270px;
  height: 3px;
  background-color: #c2d2db;
  border: 1px solid #dfe7ec;
  border-right: none;
  border-left: none;
  border-radius: 0;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
  display: none;
}

.irs--flat .irs-handle {
  background-color: #a3bbc8;
  width: 15px;
  height: 15px;
  top: 19px;
}

.irs--flat .irs-handle>i:first-child {
  display: none;
}

.irs--flat .irs-bar {
  top: 25px;
  height: 4px;
  background-color: #a3bbc8;
  border: 1px solid #d4dfe5;
}

.irs--flat .irs-from,
.irs--flat .irs-to {
  display: none;
}

.irs--flat .irs-single {
  display: none;
}

.filter-price {
  &__title {
    margin-bottom: 10px;
  }

  &__cost {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }

  &__from,
  &__to {
    position: relative;
    padding-left: 9px;
    font-size: 14px;
    @extend %rubik-400;
    color: $dark-blue;

    &::before {
      content: "$";
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.filter-brand {
  &__label {
    display: block;
    cursor: pointer;
    margin-bottom: 2px;
  }

  &__input {
    @extend %checkbox-hidden;

    &:checked+.filter-brand__box {
      background-color: #edf1f4;

      .filter-brand__num {
        color: $dark-blue;
      }
    }

  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 23px 15px 15px;
    border-radius: 6px;

  }

  &__text {
    font-size: 14px;
    @extend %rubik-400;
    color: $dark-blue;

  }

  &__num {
    color: #b3b3b3;
    font-size: 14px;
    @extend %rubik-400;
  }
}

.filter-recent {
  &__item {
    display: flex;
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0px;
    }

  }

  &__img-box {
    border: 1px solid #f2f2f2;
    width: 70px;
    height: 70px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    padding: 3px;

    img {
      object-fit: cover;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 0;
  }

  &__subtitle {
    font-size: 14px;
    @extend %rubik-400;
    color: #333333;
    line-height: 18px;
  }

  &__cost {
    font-size: 15px;
    @extend %rubik-400;
    color: #333333;
    line-height: 19px;
  }
}

.jq-ry-container {
  padding: 0;
}

.products-list {

  &__item {
    width: 850px;
    display: flex;
    margin-bottom: 40px;
  }

  &__img-box {
    padding: 0 15px;
    border: 1px solid #f2f2f2;
    margin-right: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  &__img {
    object-fit: cover;
    height: 360px;

  }

  &__item-box {
    padding: 90px 0 70px 0;
  }

  &__title {
    font-size: 40px;
    @extend %rubik-400;
    color: #333333;
    margin-bottom: 25px;
  }

  &__cost {
    font-size: 30px;
    @extend %rubik-400;
    color: #333333;
    margin-bottom: 35px;
    margin-top: 35px;
    display: block
  }

  &__text {
    @extend %rubik-400;
    font-size: 16px;
    color: $dark-blue;
    margin-bottom: 35px;
    width: 404px;
  }

  &__btn--first {
    padding: 15px 50px;
    border: none;
    color: #fff;
    background-color: #a3bbc8;
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
    @extend %rubik-400;
  }

  &__buttons {
    display: flex;

  }

  &__btn {
    width: 50px;
    height: 50px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    background-color: #fff;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__btn+.products-list__btn {
    margin-left: 10px;
  }

  &__btn-cart {
    background-color: #a3bbc8;

  }

  &__btn-like {
    transition: all .5s;

    &:hover {
      background-color: #a3bbc8;

      path {
        fill: rgb(255, 255, 255);
      }
    }
  }

  &__pagination {
    justify-content: start;
  }
}

.product-details {
  padding-top: 120px;

  &__card {
    display: flex;
  }

  &__thumb {
    width: 140px;
    margin-right: 15px;
  }

  &__img-box {
    width: 550px;
    display: flex;
  }

  &__thumb-item {
    margin-bottom: 20px;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }


    img {
      width: 140px;
      height: 160px;
      object-fit: cover;
    }
  }

  &__big {
    width: 380px;
  }

  &__big-item {
    padding: 60px 0 60px;
    justify-content: center;
    align-items: center;
  }

  &__content {
    padding: 30px 0 30px;
    margin-left: 15px;

    & .products-list__title {
      margin-bottom: 15px;
    }

    & .products-list__cost {
      margin-bottom: 30px;
      margin-top: 30px;
    }

    & .products-list__text {
      width: 536px;
    }

    & .products-list__btn--first {
      margin-left: 15px;
    }
  }

  &__form {
    display: flex;
    margin-bottom: 50px;
  }

  &__input {
    @extend %rubik-400;
    font-size: 15px;
    color: #333;
  }

  &__info-item {
    display: flex;
    @extend %rubik-400;
    font-size: 16px;
    color: $dark-blue;

    &+.product-details__info-item {
      margin-top: 15px;
    }
  }

  &__info-title {
    margin-right: 5px;

  }

  &__info-text {
    a {
      @extend %rubik-400;
      font-size: 16px;
      color: $dark-blue;
    }
  }

  &__related-title {
    @extend %dmsans-700;
    font-size: 36px;
    color: $dark-blue;
    margin-bottom: 70px;
  }

  &__related-items {
    display: flex;
  }
}

.product-details__thumb-item.slick-slide {
  width: 140px;
  border: 1px solid #f2f2f2;
  display: flex
}

.product-details__big-item.slick-slide {
  border: 1px solid #f2f2f2;
  justify-content: center;
  display: flex;
}

.jq-number {
  position: relative;
  vertical-align: middle;
  padding: 0;
}

.jq-number__field {
  width: 148px;
  height: 50px;
  display: flex;
  align-items: center;
  border: 1px solid $light-blue;
  position: relative;
}

.jq-number__field input {
  border: none;
  outline: none;
  background: none;
  color: #333;
  text-align: center;
  padding: 0;
  width: 50px;
  height: 50px;
  margin-left: 50px;
}

.jq-number__spin {
  position: absolute;
  top: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;


  &::after {
    position: absolute;
    top: 50%;
    left: 20px;
    width: 9px;
    height: 1px;
    background-color: #000;
  }

  &::before {
    content: " ";
    position: absolute;
    top: 50%;
    right: 20px;
    width: 9px;
    height: 1px;
    background-color: #000;
  }
}

.jq-number__spin.minus {
  left: 0px;
  border-right: 1px solid $light-blue;
}

.jq-number__spin.plus {
  right: 0px;
  border-left: 1px solid $light-blue;

  &::after {
    content: " ";
    position: absolute;
    top: 21px;
    left: 24px;
    width: 1px;
    height: 9px;
    background-color: #000;
  }
}

.product-details__tabs {
  padding-top: 80px;
  margin-bottom: 120px;

  &-top {
    margin-bottom: 70px;
  }
}

.tabs-top {
  display: flex;
  justify-content: center;

  &__item {
    width: 242px;
    background-color: #edf1f4;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 15px 5px;
    font-size: 18px;
    @extend %rubik-500;
    color: $dark-blue;


    &+.tabs-top__item {
      margin-left: 15px;
    }
  }


  &__item--active {
    background-color: $light-blue;
    color: #fff;
  }

}

.tabs-content {
  &__item {
    display: none;

    &.tabs-content__item--active {
      display: block
    }
  }

  &__text {
    font-size: 16px;
    @extend %rubik-400;
    color: $dark-blue;
  }


}

.products-week__item.product-details__related-item.slick-slide {
  display: flex;
  flex-direction: column;
  width: 270px;
}

.product-details__related-item {
  margin-right: 30px;

  &:first-child {
    margin-left: 15px;
  }
}

.slick-arrow {
  width: 48px;
  height: 48px;
  border: 1px solid #edf1f4;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  transition: all .5s;

  &:hover {
    border-color: $light-blue;
  }
}

.slick-prev {
  position: absolute;
  top: -118px;
  right: 50px;
}

.slick-next {
  position: absolute;
  top: -118px;
  right: -10px;
}

.product-details__related-items .slick-list {
  height: 450px;
  padding: 15px 0;
}

.product-details__related-item.slick-slide {
  border: none;
}

.about {
  padding-top: 120px;
  margin-bottom: 80px;

}

.about-info {

  &__items {
    display: flex;
    margin-bottom: 120px;
  }

  &__imgbox {
    width: 100%;
  }

  &__img {
    max-width: 570px;
    width: 570px;
    height: 680px;
    object-fit: cover;
  }

  &__content {
    padding-top: 70px;
    margin-left: 50px;
  }

  &__subtitle {
    display: flex;
    margin-bottom: 45px;
  }

  &__subtitle-num {
    @extend %dmsans-700;
    font-size: 140px;
    color: $light-blue;
    line-height: 1;
  }

  &__subtitle-text {
    color: $dark-blue;
    @extend %rubik-400;
    font-size: 16px;
    width: 86px;
    line-height: 27px;
    padding-top: 43px;
    margin-left: 30px;
  }


  &__title {
    @extend %dmsans-700;
    font-size: 36px;
    color: $dark-blue;
    margin-bottom: 45px;
  }

  &__text {
    color: $dark-blue;
    @extend %rubik-400;
    font-size: 16px;
    padding-bottom: 65px;
    border-bottom: 2px solid #e6eaf0;
    margin-bottom: 45px;
    width: 552px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    position: relative;
    padding-left: 60px;
    padding-bottom: 85px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__item--projects::before {
    background-image: url(../images/content/about/list.svg);
    width: 36px;
    height: 37px;
  }

  &__item--revenue::before {
    background-image: url(../images/content/about/rupor.svg);
    width: 43px;
    height: 39px;
  }

  &__item--awards::before {
    background-image: url(../images/content/about/medals.svg);
    width: 41px;
    height: 40px;
  }


  &__item-numbers {
    @extend %dmsans-700;
    font-size: 36px;
    color: $dark-blue;
    line-height: 27px;
  }

  &__item-text {
    color: #4c4c4c;
    @extend %dmsans-700;
    font-size: 16px;
  }
}

.about-rewards {
  background-color: #fcd7b6;
  margin-bottom: 120px;

  &__list {
    display: flex;
    justify-content: space-around;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    padding: 85px 0px 80px;
  }

  &__num {
    @extend %dmsans-700;
    font-size: 36px;
    color: $dark-blue;

  }

  &__text {
    @extend %dmsans-700;
    font-size: 18px;
    color: $dark-blue;
  }
}


@import 'media';

.about-team {
  &__inner {
    display: flex;
  }

  &__descr {
    width: 286px;
    margin-right: 110px;
  }

  &__title {
    @extend %dmsans-700;
    font-size: 36px;
    color: $dark-blue;
    margin-bottom: 30px;
  }

  &__text {
    color: $dark-blue;
    @extend %rubik-400;
    font-size: 16px;
    margin-bottom: 35px;
  }

  &__btn {
    @extend %btn;
    position: relative;
    border-radius: 5px;
    padding-left: 25px;
    padding-right: 60px;
    margin-top: 35px;
    display: inline-block;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
      width: 15px;
      height: 11px;
      background-image: url(../images/content/about/arrow.svg);
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px 30px
  }

  &__img {
    width: 370px;
    height: 320px;
    object-fit: cover;
  }

  &__item {
    position: relative;
  }

}

.item-box {
  display: flex;
  padding: 30px 20px;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: -80px;
  background-color: #fff;
  box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
  width: 325px;

  &__info-name {
    margin-bottom: 20px;
    font-size: 22px;
    @extend %dmsans-700;
    color: $normal-blue;

  }

  &__info-prof {
    @extend %rubik-400;
    font-size: 16px;
    color: #565872;
  }

  &__society {
    display: flex;
  }

  &__society-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 41px;
    height: 41px;
    background-color: #f6f6f6;
    border-radius: 50%;
    transition: all .5s;

    svg {
      path {
        transition: all .5s;
      }
    }

    &:hover {
      background-color: #fff;
      border: 1px solid #ececec;
      box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);

      svg {
        path {
          fill: $normal-blue;
        }
      }
    }

    &+.item-box__society-link {
      margin-left: 7px;
    }

  }

}