@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.logo {
  display: flex;
  align-items: center;

  &__link {
    margin-right: 13px;
  }

  &__link-text {
    font-size: 36px;
    line-height: 58px;
    color: $normal-blue;
    @extend %rubik-500;
  }
}

.header {
  &__inner {
    padding: 50px 0 50px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu-list {
    display: flex;

  }

  &__menu-item+.header__menu-item {
    margin-left: 30px;
  }

  &__menu-link {
    font-size: 15px;
    line-height: 25px;
    color: $normal-blue;
    @extend %rubik-500;
  }
}

.user-nav {
  display: flex;


  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link-search {
    margin-right: 20px;
    background-color: #edf1f4;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    padding: 0;

  }

  &__link-square {
    margin-left: 20px;
    background-color: $light-blue;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    padding: 0;
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fcd7b6;
    width: 175px;
    height: 49px;
    border-radius: 25px;

  }

  &__link-like {
    padding-right: 30px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      height: 32px;
      top: -5px;
      right: 0;
      border: 1px solid #fde7d3;
    }

    span {
      top: -8px;
      right: 20px;
    }
  }



  &__link-cart {
    padding-left: 30px;
    position: relative;

    span {
      top: -8px;
      right: -12px;

    }

  }

  &__num {
    position: absolute;
    background-color: #fff;
    color: $normal-blue;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    @extend %dmsans-400;
    font-size: 10px;
    line-height: 18px;
    text-align: center
  }
}

.footer {
  &__top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(163, 187, 200, 0.4);
    padding: 80px 0 75px;
  }

  &__top-info {
    display: flex;
    flex-direction: column;
  }

  &__top-adress {
    margin-bottom: 10px;
    margin-top: 25px;
    text-transform: uppercase;

    span {
      text-transform: capitalize;
    }
  }

  &__top-phone {
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  &__top-email {
    text-transform: uppercase;

    span {
      text-transform: lowercase
    }
  }

  &__top-link {
    @extend %rubik-400;
    font-size: 14px;
    line-height: 24px;
    color: #7b7b7b;


  }

  &__top-title {
    margin-top: 22px;
    margin-bottom: 25px;
    @extend %dmsans-700;
    color: #1f2044;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
  }

  &__top-items {
    margin-bottom: 10px;
  }

  &__top-text {
    @extend %rubik-400;
    font-size: 14px;
    line-height: 24px;
    color: #7b7b7b;
    margin-bottom: 20px;
    max-width: 243px;
    width: 100%;
  }

  &__top-form-input {
    background-color: #fef7f0;
    border: none;
    padding: 15px;

    &::placeholder {
      font-size: 12px;
      @extend %dmsans-400;
      color: #234969;
    }
  }

  &__btn {
    @extend %btn;
    margin-left: -3px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 40px;

  }

  &__bottom-text,
  &__bottom-link {
    @extend %rubik-400;
    color: #7b7b7b;
    font-size: 14px;
    line-height: 32px;
  }

  &__bottom-list {
    display: flex
  }

  &__bottom-item:not(:last-child) {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 7px;
      right: -15px;
      height: 17px;

      border: 1px solid #7b7b7b;
    }
  }

  &__bottom-item+.footer__bottom-item {
    margin-left: 30px;
  }
}

.top-slider {
  &__inner {
    background-image: url(../images/to-slider-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100%;
    padding-top: 200px;
    padding-bottom: 45px;
  }

  &__item {
    padding-bottom: 200px;
  }

  &__title {
    font-size: 72px;
    line-height: 92px;
    color: $dark-blue;
    @extend %rubik-500;
    margin-bottom: 35px;
    max-width: 411px;
    width: 100%;
    position: relative;

    &::after {

      content: "";
      width: 640px;
      height: 240px;
      top: 134px;
      left: 526px;
      background-image: url(../images/top-slider-img.png);
      background-repeat: no-repeat;
      background-position: center center;
      position: absolute;



    }
  }

  &__text {
    font-size: 18px;
    line-height: 25px;
    color: $normal-blue;
    @extend %rubik-400;
    margin-bottom: 35px;
    max-width: 360px;
  }

  &__link {
    @extend %btn;
    padding: 25px 100px 25px 25px;
    @extend %rubik-500;
    position: relative;
    display: block;
    max-width: 202px;

    &::after {
      content: "";
      position: absolute;
      width: 22px;
      height: 9px;
      top: 30px;
      right: 15px;
      background-image: url(../images/icons/arrow.svg);

    }
  }


}

.slick-dots {
  display: flex;
  justify-content: center;



  & li+li {
    margin-left: 10px;

  }

  & li button {
    font-size: 10px;
    line-height: 12px;
    @extend %rubik-500;
    color: #667983;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: #fde3cc;

  }

  & .slick-active button {
    background-color: #fff;
    color: $dark-blue;
  }

}

.top-slider__info {
  background-color: #fef7f0;
  padding: 45px 0 45px;

  &-content {
    display: flex;
    justify-content: space-around
  }

  &-box {}

  &-subtitle {
    @extend %dmsans-700;
    color: #414141;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 10px;
  }

  &-text {
    @extend %dmsans-400;
    font-size: 16px;
    line-height: 23px;
    color: #585858;
    font-family: 'DMSans-Regular';
  }

}















@import 'media';